body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.4s ease-in;
    background-color: #585757;
}

.card {
    padding: 50px;
    width: 900px;
    height: 500px;
    margin: 50px auto;
    background-color: #DDDDDD;
    border-radius: 20px;
}

.resposta--correcte {
    background-color: #409626;
    color: white;
}

.resposta--incorrecte {
    background-color: #962626;
    color: white;
}

.card__answers {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#answers__button {
    border: none;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 1cm;
    padding: 10px 20px;
    background-color: #b3b3b3;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    height: 50px;
    width: 8cm;
    text-align: left;
    color: #332323;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#answers__button:hover {
    background-color: #d2d2d2;
    color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.196), 0 25px 50px 0 rgba(255, 255, 255, 0.215);
}

h1 {
    font-weight: bolder;
    color: #2b2a2a;
    letter-spacing: .1em;
    text-align: center;
    font-size: 25px;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}